{% extends "dashboard.html" %}
{% block title %}Home{% endblock %}
{% block body %}
{% if status == "logged_in" %}
    <section class="content">
      <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        Query:
                    </h2>
                </div>
                <div class="body">
                    <form action="" method="POST">
                        <label for="query">Enter Query:</label>
                        <div class="form-line">
                            <input type="text" class="form-control" name="query" placeholder="Query">
                        </div>
                        <label for="password">Enter Admin Password:</label>
                        <div class="form-line">
                            <input type="password" class="form-control" name="password" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-primary m-t-15 waves-effect">Enter</button>
                    </form>
                    {% if data %}
                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                        <thead>
                            <tr>
                                {% for i in name %}
                                    <th>{{ i[0] }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                {% for i in name %}
                                    <th>{{ i[0] }}</th>
                                {% endfor %}
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for user in data %}
                                <tr>
                                    {% for d in user %}
                                        <td>{{ d }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </div>
            </div>
            <div class="card">
                <div class="header">
                    <h2>
                        User
                    </h2>
                </div>
                <div class="body">
                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Password</th>
                                <th>email</th>
                                <th>dept</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Username</th>
                                <th>Password</th>
                                <th>email</th>
                                <th>dept</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for user in User %}
                            <tr>
                                <td>{{ user[0] }}</td>
                                <td>{{ user[1] }}</td>
                                <td>{{ user[2] }}</td>
                                <td>{{ user[3] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card">
                <div class="header">
                    <h2>
                        Process
                    </h2>
                </div>
                <div class="body">
                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                        <thead>
                            <tr>
                                <th>movement_date</th>
                                <th>comment</th>
                                <th>user_id</th>
                                <th>doc_id</th>
                                <th>status</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>movement_date</th>
                                <th>comment</th>
                                <th>user_id</th>
                                <th>doc_id</th>
                                <th>status</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for user in Process %}
                            <tr>
                                <td>{{ user[0] }}</td>
                                <td>{{ user[1] }}</td>
                                <td>{{ user[2] }}</td>
                                <td>{{ user[3] }}</td>
                                <td>{{ user[4] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card">
                <div class="header">
                    <h2>
                        Document
                    </h2>
                </div>
                <div class="body">
                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                        <thead>
                            <tr>
                                <th>sr no</th>
                                <th>doc_id</th>
                                <th>date_of_receipt</th>
                                <th>sender</th>
                                <th>receiver</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>sr no</th>
                                <th>doc_id</th>
                                <th>date_of_receipt</th>
                                <th>sender</th>
                                <th>receiver</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for user in Document %}
                            <tr>
                                <td>{{ user[0] }}</td>
                                <td>{{ user[1] }}</td>
                                <td>{{ user[2] }}</td>
                                <td>{{ user[3] }}</td>
                                <td>{{ user[4] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card">
                <div class="header">
                    <h2>
                        Document_details
                    </h2>
                </div>
                <div class="body">
                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                        <thead>
                            <tr>
                                <th>doc_id</th>
                                <th>Subject</th>
                                <th>No. of Doc</th>
                                <th>organisation</th>
                                <th>details</th>
                                <th>move_date</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>doc_id</th>
                                <th>Subject</th>
                                <th>No. of Doc</th>
                                <th>organisation</th>
                                <th>details</th>
                                <th>move_date</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for user in Document_details %}
                            <tr>
                                <td>{{ user[0] }}</td>
                                <td>{{ user[1] }}</td>
                                <td>{{ user[2] }}</td>
                                <td>{{ user[3] }}</td>
                                <td>{{ user[4] }}</td>
                                <td>{{ user[5] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
      </div>
    </section>
{% else %}
<body id="particles-js" style="background: #236B8E;">
    <section class="content">
        <form action="" method="POST">
            <div class="col-md-6">
                <label for="password">Enter Admin Password:</label>
                <div class="form-line">
                    <input type="password" autofocus="autofocus" class="form-control" name="password" placeholder="Password" required>
                </div>
                <button type="submit" class="btn btn-primary m-t-15 waves-effect">Enter</button>
            </div>
        </form>
    </section>
</body>

<script type="text/javascript" src="{{ url_for('static', filename='particles/particles.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='particles/app.js') }}"></script>
{% endif %}
{% endblock %}
