{% extends "dashboard.html" %}
{% block title %}Home{% endblock %}
{% block body %}

     <section class="content">
        <div class="container-fluid">

           <div class="row clearfix">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                
                    <div class="card">
                    <div class="header">
                        <h2>
                        Sender
                        </h2>
                    </div>
                <div class="body">
                    <table class="table table-bordered table-striped dataTable" style="table-layout: fixed; word-wrap: break-word;">
                        <thead>
                            <tr>
                                <th >Sender</th>
                                <th >Document ID</th>
                                <th >Subject</th>
                                <th >Organization</th>
                                <th >Details</th>
                                <th >No of documents</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr >
                                <td name="sender">{{ data1[0][0] }}</td>
                                <td name="docid">{{ data1[0][1] }}</td>
                                <td name="subject">{{ data1[0][2] }}</td>
                                <td name="org">{{ data1[0][3] }}</td>
                                <td name="details">{{ data1[0][4] }}</td>
                                <td name="numberdocs">{{ data1[0][5] }}</td>
                           </tr>
                        </tbody>
                    </table>
 
                    </div>
                </div>



                    <div class="card">
                        <form action="/existing_doc/{{ data1[0][1] }}" id="existing_doc" method="POST">
                         <div class="header">
                            <h2>From</h2>
                        </div>
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <textarea disabled rows="1" class="form-control no-resize" name="userid">{{ session.userid }}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="header">
                            <h2>Comments</h2>
                            
                        </div>
                        <div class="body">
                            
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <textarea rows="4" class="form-control no-resize" placeholder="Please type what you want..." name="comment"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
<div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                               Forward To
                                
                            </h2>
                            
                        </div>
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <select id='A' name='department'>
                                        <option value='{{ dept[0] }}' selected='selected'>{{ dept[0] }}</option>
                                        {% for i in range(1,dept|length) %}
                                        <option value="{{ dept[i] }}">{{ dept[i] }}</option>
                                        {% endfor %}
                                    </select>
                                    </div>
                                <div class="col-sm-6">
                                    <select id='B' name='to'></select>
                                </div>
                            </div>
                        </div>
                        <div class="body">
                            <h2 class="card-inside-title">Status</h2>
                            <div class="demo-switch">
                                <div class="switch">
                                    <label>Rejected<input type="checkbox" name="status" value="1" ><span class="lever"></span>Accepted</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                           <button type="submit" class="btn btn-primary m-t-15 waves-effect">Upload</button>
                        </div>
                        </form>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </section>

<script type="text/javascript">
    var users = {{ users|tojson }};
    var A = document.getElementById("A");
    var B = document.getElementById("B");
    A.onchange = function(){
        B.length = 0;
        var _val = this.selectedIndex;
        for ( var i in users[_val]){
            var op = document.createElement('option');
            op.value = users[_val][i];
            op.text = users[_val][i];
            B.appendChild(op);
        }
    };
    A.onchange();
</script>

{% endblock %}
