{% extends "dashboard.html" %}
{% block title %}Home{% endblock %}
{% block body %}

    <section class="content">
        <div class="container-fluid">
            
<div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                             
                                    Individuals
                                
                            </h2>
                            
                        </div>
                        <div class="body">
                            <div class="row clearfix">
                             
                                <div class="col-sm-4">
                                    <select class="form-control" >
                                        <option value="">Person</option>
                                          {% for user in data %}
                                        <option value="user_id">{{ user[0] }}</option>
                                         {% endfor %}
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <select class="form-control" >
                                        <option value="">status</option>
                                        <option value="ACCEPTED">Accepted</option>
                                        <option value="REJECTED">Rejected</option>
                                        <option value="PENDING">Pending</option>
                                   
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </section>

{% endblock %}
