{% extends "dashboard.html" %} {% block title %}Home{% endblock %} {% block body %}
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Individuals
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        {% if data %}
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="row clearfix">
                            <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                <thead>
                                    <tr>
                                        <th>DOC ID</th>
                                        <th>Subject</th>
                                        <th>Details</th>
                                        <th>Sender</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>DOC ID</th>
                                        <th>Subject</th>
                                        <th>Details</th>
                                        <th>Sender</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    {% for user in data %}
                                    <tr onclick="window.document.location='/existing_doc/{{ user[0] }}';">
                                        <td>{{ user[0] }}</td>
                                        <td>{{ user[1] }}</td>
                                        <td>{{ user[2] }}</td>
                                        <td>{{ user[3] }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</section>
{% endblock %}
