{% extends "dashboard.html" %} {% block title %}Home{% endblock %} {% block body %}
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            {{ status }} Statistics {{ info }}
                        </h2>
                    </div>
                    <div class="body">
                        <canvas id="pie_chart" height="150"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="{{ url_for('static', filename='plugins/chartjs/Chart.bundle.js') }}"></script>

<script>
    $(function () {
    new Chart(document.getElementById("pie_chart").getContext("2d"), getChartJs());
});

function getChartJs(){
    var config = null;
    console.log({{ info }});
    var info = {{ info | tojson }};
    console.log(info);
        config = {
            type: 'pie',
            data: {
                datasets: [{
                    data: info,
                    backgroundColor: [
                        //"rgb(233, 30, 99)",
                        "rgb(255, 193, 7)",
                        "rgb(0, 188, 212)",
                        "rgb(139, 195, 74)"
                    ],
                }],
                labels: [
                    //"pink",
                    "Pending",
                    "Accepted",
                    "Rejected"
                ]
            },
            options: {
                responsive: true,
                legend: false
            }
        }

    return config;
}
</script>

{% endblock %}

<!-- Select age,level,count(*) as total FROM student GROUP BY age,level  WHERE max() -->